<div class="container">
  <div class="hero-unit">
    <div class="page-header">
    <h4>Listing posts <small>
      <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
        Create new post
      </button>
    </h4>
  </div>
  
  <%= render "posts"%>
  
</div>
<%= render "form"%>

